:root{
    --primary-color: #b3dee2;
    --secondary-color: #AD7B9D;
    --third-color: #ABD5D2;
    --cards-color: #fffff;
    --button-color: #EAF2D7;
    --second-button-color: #EA9AB2;
    --heading-font: 'Calistoga', cursive;
    --body-font: 'Andika', sans-serif;
}

.navbar {
    font-family: var(--body-font);
    padding: 10px;
}
.content-container {
    margin:auto;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    line-height: px;
    padding: 100px 30px;
    background: linear-gradient(109.6deg, rgb(151, 213, 255, 0.7) 11.2%, rgb(255, 155, 185,0.5) 91.1%);
}
.content {
    margin: 30px; 
}
.content h1, h2, h3{
    font-family: var(--heading-font);
    padding: 10px;
    text-align: center;
}
.content h1{
    font-size: 64px;
}
.content p {
    font-family: var(--body-font);
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: lighter;
}
.hero{
    margin: 0 auto;
    padding: 100px 30px;
    }

.hero h1{
        color: black;
        font-family: var(--body-font);
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
.hero p{
    color: black;
    font-family: var(--heading-font);
    font-size: 70px;
}
.btn-branding {
    background-color: var(--second-button-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; 
}
.headline{
    background: linear-gradient(360deg, rgba(254,240,239,1) 18%, #e2D0DC 100%);
    padding: 30px;
    text-align: center;
    font-weight: normal;
    position: relative;
    border-radius: 20px; 
}
.headline h1 {
    font-family: var(--heading-font);
    font-size: 40px;
}
.headline h2 {
    font-family: var(--body-font);
    font-size: 20px;
    line-height: normal;
    padding-bottom: 30px;
}
.projects-preview{
    padding: 30px;
}
.btn-aboutme {
    background-color: var(--third-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}
.btn-more {
    background-color: var(--primary-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}
.btn-aboutme:hover, 
.btn-branding:hover, 
.btn-more:hover, 
.btn-projects:hover{
    background-color: var(--secondary-color);
}
.card{
    border: none;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.card-body {
background-color: var(--cards-color);
}
.icon{
    width: 30px;
    align-items: center;
}

@media (max-width: 900px) {
    .content h1{
        font-size: 44px;
        line-height: 60px;
    }
}

.img-fluid{
border-radius: 40px;
box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); 
}

.btn-projects{
    background-color: var(--second-button-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}
.row {
    padding: 30px}

.contact-info{
    text-align: center;
}

.contactIcon{
    width: 70px;
    padding: 10px;
    justify-content: center;
}
.socialLinks {   
    margin: 30px;
    padding: 20px;
}
.socialLinks h1{
    font-family: var(--heading-font);
}

footer{
    padding:30px;
    font-family: var(--body-font);
    font-weight: lighter;
}

#emailLink, #linkedInLink, #gitHubLink {
        text-decoration: none;
        color: #6C117B;
        font-family: var(--body-font);
      }
      
#emailLink:hover, #linkedInLink:hover, #gitHubLink:hover {
        text-decoration: underline;
        color: #B33A89;
      }