:root{
    --primary-color: #b3dee2;
    --secondary-color: #E27396;
    --third-color: #ABD5D2;
    --about-color: ;
    --cards-color: #fffff;
    --button-color: #EAF2D7;
    --second-button-color: #EA9AB2;
    --heading-font: 'Calistoga', cursive;
    --body-font: 'Andika', sans-serif;
}
.navbar {
    font-family: var(--secondary-font);
    padding: 10px;
}
.hero{
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    text-align: center;
    font-weight: bold;
    line-height: px;
    padding: 100px 30px;
    }

.hero p{
    color: black;
    font-family: var(--heading-font);
    font-size: 70px;
}

.hero h1{
    color: black;
    font-family: var(--body-font);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn-branding {
    background-color: var(--second-button-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; 
}
.headline{
    background: linear-gradient(360deg, rgba(254,240,239,1) 18%, rgba(226,115,150,1) 100%);
    padding: 30px;
    text-align: center;
    font-weight: normal;
    position: relative;
}
.headline h1 {
    font-family: var(--heading-font);
    font-size: 30px;
}
.headline h2 {
    font-family: var(--body-font);
    font-size: 20px;
    line-height: normal;
    padding-bottom: 30px;

}
.projects-preview{
    padding: 30px;
}
.btn-aboutme {
    background-color: var(--third-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}
.btn-knowmore {
    background-color: var(--primary-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}

.card{
    border: none;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.card-body {
background-color: var(--cards-color);
}
.icon{
    width: 20px;
    align-items: center;
}
.separator{
    position: relative;
}
.custom-shape-divider-bottom-1697141319 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697141319 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 134px;
}

.custom-shape-divider-bottom-1697141319 .shape-fill {
    fill: #E27396;
}

@media (max-width: 900px) {
    .content h1 {
        font-size: 44px;
        line-height: 56px;
    }
}

.content-container {
    margin:auto;
    padding-top: 30px;
    background: linear-gradient(109.6deg, rgb(151, 213, 255, 0.7) 11.2%, rgb(255, 155, 185,0.5) 91.1%);
}
    .content {
    margin: 30px;
    
}
.content h1, h2, h3{
    font-family: var(--heading-font);
    padding: 10px;
    text-align: center;
}

.content h1{
    font-size: 64px;
}
.content p{
    font-family: var(--secondary-font);
    padding-top: 5px;
    padding-bottom: 20px;
}
.img-fluid{
border-radius: 40px;
box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-projects{
    background-color: var(--second-button-color);
    border-radius: 4px;
    color: black;
    font: var(--secondary-font);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}
.row {
    padding: 30px}
.contact-info{
    text-align: center;
}
#emailLink, #linkedInLink, #gitHubLink {
        text-decoration: none;
        color: #28364A;
        font-family: var(--body-font);
      }
      
#emailLink:hover, #linkedInLink:hover, #gitHubLink:hover {
        text-decoration: underline;
        color: #B33A89;
      }